@import url(https://fonts.googleapis.com/css?family=Allerta+Stencil|Artifika|Cinzel+Decorative|Fanwood+Text|Fredericka+the+Great|Fugaz+One|Germania+One|Graduate|Grand+Hotel|IM+Fell+Double+Pica|Montserrat|Slabo+27px|Source+Sans+Pro|Rosarivo);

html, body, header, .view {
  height: 100%;
}

body {
	margin: 0 auto;
	/* min-height: 100vh; */
}

button:focus {
	outline:0 !important;
}

button:hover {
	cursor: pointer;
}

.wow {
    visibility: hidden;
}
  

.coolText1{
	font-family: 'Fredericka the Great', cursive;
}

.coolText2{
	font-family: 'Cinzel Decorative', cursive;
}

.coolText3{
	font-family: 'Allerta Stencil', cursive;
}

.coolText4{
	font-family: 'Fanwood Text', cursive;
}

.coolText5{
	font-family: 'Germania One', cursive;
}

.text-underline {
    text-decoration: underline;
}

.hidden {
	display: none;
}

.oi {
    top: 0px !important;
}

form.registerForm * {
    color: white !important;
}

.panel-body {
    background: #9f3f37b5;
}

.addBoxShadow {
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px #4f4f4f;
}

#admin_page_login {
    background-image: url(../../images/raleigh_skyline.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	min-height: 100vh;
}

.error_border {
	border-color: red;
}

/*Login Page*/
form#admin_form {
    max-width: 50%;
    margin: 0% 23%;
    padding: 2%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

form#admin_form label {
    color: white;
}

.adminLoginHeader {
}

/*Feedback*/
.feedback {
    margin-top: 55px;
}

.feedback .questionInput {
	width: 70%;
	border: none;
	vertical-align: top;
	height: 50px;
	background: transparent;
}

.feedback textarea {
	width: 25%;
	height: 50px;
}

.feedback div:nth-of-type(odd) {
	background: cadetblue;
	padding: 1% 0%;
}

a.feedbackLink {
    margin: 2%;
    border-radius: 10px;
    border: inset seagreen;
    padding: 1%;
    text-decoration: none;
    background: darkgreen;
    position: absolute;
    color: whitesmoke;
    box-shadow: 4px 4px 3px darkgrey;
    right: 2%;
}

footer {}

/*Session Messages*/
div#return_messages {
    position: fixed;
    top: 50px;
    right: 1%;    
	z-index: 1100;
}

div#return_messages ul {
    padding: 0%;
    list-style: none;
}

div#return_messages ul li {
    margin: 1% 0%;
    padding: 1.0%;
    font-size: 110%;
    text-align: -webkit-auto;
    text-align: -webkit-center;
    border-radius: 5px;
    border: solid 1.5px;
}

div#return_messages ul li.okItem, div#return_messages ul li.errorItem {
    color: snow;
}

/*Navigation*/
nav {
	margin: 0px -15px;
}
a.navbar-brand {
    padding: 15px 35px 15px 20px;
}

.adminNavColor {
	background: cornflowerblue;
}

.navbar-expand-lg a.navbar-brand {
    font-size: 200%;
    color: #3e3e3e;
    transition: .2s;
}

.navbar-expand-lg .navbar-nav > li > a {
    transition: .2s;
    font-size: 125%;
	transition: .2s;
	text-decoration: none;
	padding: 1% 3%;
	font-size: 130%;
	color: #525252;
}

.navbar-expand-lg .navbar-nav > li > a:hover {
    color: #c1cad2;
	background: cornflowerblue;
}

.navHeader {
    /* padding: 1%; */
    font-size: 250%;
    color: #c1cad2;
    /* max-width: 20%; */
    /* width: 20%; */
}

.navHeader h1 {
    margin: 0;
}

.navLinks {
    padding: 1%;
    width: 74%;
    /* max-width: 74%; */
}


/*Home Page*/
.myheader {
	margin: 75px auto;
	position: relative;
	width: 40%;
	border: solid 1.5px black;
	border-radius: 5px;
	box-shadow: 4px 3px 8px 0px darkgrey;
}

.bankAccounts {
	min-height: 100vh;
}

#bank_carousel {
	margin: 0px -15px;
}

.banksHeader h1 {
    margin: 1% 4% 1% 1%;
    display: -webkit-inline-box;
    display: inline-block;
}

.banksHeader a, .createBankLink a {
    display: -webkit-inline-box;
    display: inline-block;
    text-decoration: none;
    padding: 1%;
    margin: 0% 1%;
    background: snow;
    border-radius: 5px;
    transition: 0.2s;
    float: right;
}

.createBankLink a.banksPageAddBank {
    /* display: -webkit-inline-box; */
    /* display: block; */
    text-decoration: none;
    padding: 1%;
    margin: 1% 1%;
    background: snow;
    border-radius: 5px;
    transition: 0.2s;
    /* width: 100%; */
    background: burlywood;
    float: none;
}

.bankCount {
    position: absolute;
    top: 0;
    left: 0;
}

.banksHeader a:hover, .createBankLink a:hover {
    background: darkseagreen;
}

.indBankAccount {
    /* height: 100%; */
	margin: 1% 0%;
}

.indBankAccount:nth-of-type(odd) {
    background: beige;
}

.indBankAccount:nth-of-type(even) {
    background: aquamarine;
}

.indBankAccountLinks a {
	text-decoration: none;
	background: burlywood;
	transition: 0.2s;
	color: white;
}

.indBankAccountLinks a:hover:not(:last-of-type) {
	background: darkcyan;
}

.bankAccountHeader h1, .bankAccountHeader a {
    display: -webkit-inline-box;
    display: -webkit-inline-box;
}

.bankAccountHeader h1 {
    margin: 0% 0%;
    padding: 0% 5% 1% 1%;
    border-bottom: solid 2px;
    border-right: solid 2px;
	font-size: 300%;
}

.bankAccountInfo > div > div h3 {
    margin: 2.1% 0%;
}

.bankAccountInfo > div > div span:first-of-type {
    padding: 0% 0% 0% 5%;
}

.bankAccountInfo > div > div span:last-of-type {
    /* padding: 0% 1%; */
}

.indShareAccount {
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 1% 1%;
    width: 75%;
}

.indShareAccount:nth-of-type(odd	) {
    background: beige;
}

.indShareAccount:nth-of-type(even) {
    background: aquamarine;
}

.indShareAccount .myBankHeader h2 {
    margin: 0% 0%;
    padding: 0% 5% 1% 1%;
    border-bottom: solid 2px;
    border-right: solid 2px;
    display: -webkit-inline-box;
    display: inline-block;
}

.myTransactions {
    background: gray;
    padding: 1% 0%;
    margin: 0% 0px;
}

.myTransactionInfo {
    display: -webkit-inline-box;
    display: inline-block;
    margin: 1% 2%;
}

.myTransactionInfo .form-check [type=checkbox][class*=filled-in]:checked+label:after {
    border-color: darkred !important;
    background-color: darkred !important;
}

.myTransactionInfo .form-check {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
}

span.transactionDate {}

.indTransaction.withdrawl {}

.indTransaction.withdrawl .myTransactionHeader h2 {
    background: coral;
}

.indTransaction.purchase {
    /* background: indianred; */
}

.indTransaction.purchase .myTransactionHeader h2 {
    background: indianred;
}

.indTransaction.deposit {
    /* background: burlywood; */
}

.indTransaction.deposit .myTransactionHeader h2 {
    background: burlywood;
}

.indTransaction.transfer {
    /* background: #90de87; */
}

.indTransaction.transfer .myTransactionHeader h2 {
    background: #90de87;
}

.bankSectionDesc {
    max-width: 20%;
    top: 30%;
    left: 1%;
    position: absolute;
}

/*Bank Page*/
.createNewBank {
    margin-top: 90px;
}

.bankIndex .view img, .bankIndex .view video {
	height: fit-content;
}

form div input, form div select, input[type=file] {
    display: -webkit-inline-box;
    display: inline-block;
}

.editBankUser {
    border-top: solid 2px;
    padding: 1% 0%;
    margin: 1% 0%;
}

.userPercentShareDiv {
    border-top: solid 1.5px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.banksPageHeader, .createBankLink {
    /* display: -webkit-inline-box; */
    display: block;
    margin: 75px 0px 0px;
    padding: 0% 0%;
    /* vertical-align: top; */
}

.banksPageHeader h2 {
    margin: 0% 1% 5%;
    text-align: -webkit-center;
    text-align: center;
}

.formDiv {
    padding: 1% 5% 1%;
	margin: 0% 0% 3%;
    border: solid 2px;
    position: relative;
    font-size: 125%;
    border: none;
}

/*Users Page*/
.userNavLinks a {
    text-decoration: none;
    background: burlywood;
	color: white;
    padding: 1%;
    border-radius: 10px;
    transition: 0.25s;
}

.userNavLinks a:hover {
	color: whitesmoke;
    background: cornflowerblue;
}

.userNavLinks a.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.removeUserNotification {
	color: darkred;
}

.removeUserForm.formDiv {
    padding: 1%;
}

.formDiv::before, .formDiv::after {
    content: "";
    position: absolute;
}

.formDiv::after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;
    z-index: -1;
}

.formDiv::before {
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    /* background-image: -webkit-gradient(radial, right top, 10, 90% 0%, 150, from(#000), to(transparent)); */
    /* background-image: -webkit-linear-gradient(left, 150px 230px, #000, transparent); */
    /* background-image: -moz-radial-gradient(right top, farthest-corner, #000 0%, transparent 72%); */
    z-index: -2;
    background: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), black);
}

.userImgDiv img {
    width: 200px;
    height: 185px;
    max-width: 100%;
}

.inputDiv {
    /* width: 100%; */
    /* margin: 0 auto; */
}

.inputDiv span {
    padding: 0% 0% 0% 3%;
}

.inputDiv input {
    /* max-width: 59%; */
}

/*Transactions Page*/
.removeTransBtn {
    position: fixed;
    left: 0px;
    margin-left: 0.5%;
}

.transNav {
    margin: 75px 0% 2%;
}

.transNav a {
    text-decoration: none;
    background: burlywood;
    padding: 1%;
    border-radius: 10px;
    transition: 0.25s;
}

.transNav a:hover {
    background: cornflowerblue;
}

.indTrans {
    /* display: -webkit-inline-box; */
    /* display: inline-block; */
    /* max-width: 30%; */
    /* min-width: 0%; */
    /* width: 30%; */
    /* margin: 1% 1.35%; */
    margin-bottom: 1%;
    margin-top: 1%;
    position: relative;
}

.indTrans.withdrawl {
    background: coral;
}

.indTrans.withdrawl {
    /* background: coral; */
}

.indTrans.purchase {
    background: indianred;
}

.indTrans.purchase {
    /* background: indianred; */
}

.indTrans.deposit{
    background: burlywood;
}

.indTrans.deposit {
    /* background: burlywood; */
}

.indTrans .indTransHeader h2 {
	margin: 0% 25% 5%;
	padding: 0% 0%;
	border-bottom: solid 1px;
	/* position: relative; */
	border-top-left-radius: 7.2px;
	border-top-right-radius: 7.2px;
}

.indTrans .indTransHeader h2 span.itemContent {
    display: block;
    text-align: -webkit-center;
    text-align: center;
    padding: 10% 0% 5%;
}

.indTransInfo {
	padding: 2% 4%;
}

span.indTransactionDate {
	font-size: 60%;
}

.userTransactionHeader {
    text-align: -webkit-center;
    text-align: center;
}

.userTransactionHeader h2 {
    width: 50%;
    margin: 4% auto;
    background: linear-gradient(transparent, transparent, darkred);
}

@media only screen and (max-width:575px) {
    .wow h1.display-1, h1.display-1.wow {
		font-size: 425%;
	}
	
	.wow h5 {
		font-size: 100%;
	}
	
	.navbar-header button {
		padding: 0.8rem 1.25rem;
	}
	
	.myheader {
		margin: 20px auto;
		width: 100%;
		border: none;
	}
	
	.bankAccounts, .myAccounts {}
	
	.bankAccountHeader a {}
	
	.indBankAccount {
		/* height: 100%; */
		margin: 1% 0%;
		padding: 5% 0% 10%;
	}
	
	.indShareAccount {
		width: 100%;
	}
	
	.bankAccountInfo > div {
		border-bottom: solid 2px;
		border-right: solid 2px;
		margin: 5% 5%;
		padding: 0% 0% 1%;
	}
	
	.navLinks.logOutLink {
	}
	
	.logOutLink {
		width: fit-content;
		padding: 0% 2% 0%;
	}
	
	.userNavLinks a {
		font-size: 125%;
	}
	
	.bankCount {
		left: 10px;
	}
	
	.userTransactionHeader h2 {
		width: initial;
		margin: 4% auto;
	}
	
	button.removeTransBtn {
		left: 2%;
		width: 95%;
	}
	
	form#removeTransForm .col-6 {
		width: 100% !important;
		max-width: 100% !important;
		flex: initial;
	}
}

@media only screen and (min-width:576px) {
	.myheader {
		width: 70%;
	}
	
	.userNavLinks a {
		font-size: 125%;
	}
}
@media only screen and (min-width:768px) {}
@media only screen and (min-width:992px) {
	.userNavLinks a {
		font-size: 125%;
	}
}
@media only screen and (max-width:1199px) {}
@media only screen and (min-width:1200px) {}
@media only screen and (min-width:1400px) {}